In [54]:
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.holtwinters import ExponentialSmoothing
%matplotlib inline

In [87]:
df_demd = pd.read_csv('../data/aggrageted_v0.csv').rename(columns={'pickup_zone':'zone'})
df_drop = pd.read_csv('../data/dropoffs_aggregated.csv').rename(columns={'dropoff_zone':'zone'})

In [88]:
df = pd.merge(
    df_demd, df_drop, how='outer', on=['created_at', 'zone']).sort_values(
        by=['created_at', 'zone'], axis=0).fillna(0).reset_index().drop(columns='index')

In [89]:
df.head()

            created_at  zone  demands  dropoffs
0  2018-08-21 00:00:00     0      3.0       4.0
1  2018-08-21 00:00:00     1      0.0      10.0
2  2018-08-21 00:00:00     2      1.0       1.0
3  2018-08-21 00:00:00     3     14.0       7.0
4  2018-08-21 00:00:00     4      1.0       7.0

In [90]:
X = []

for date in np.unique(df['created_at']):
    for zone in np.unique(df['zone']):
        X.append([date, zone, 0, 0])

In [91]:
d_null = pd.DataFrame(data=X, columns=['created_at', 'zone', 'demands', 'dropoffs'])

In [92]:
d_null.head()

            created_at  zone  demands  dropoffs
0  2018-08-21 00:00:00     0        0         0
1  2018-08-21 00:00:00     1        0         0
2  2018-08-21 00:00:00     2        0         0
3  2018-08-21 00:00:00     3        0         0
4  2018-08-21 00:00:00     4        0         0

In [120]:
df_fixed = pd.merge(
    df, d_null, how='outer', on=['created_at', 'zone']).sort_values(
        by=['created_at', 'zone'], axis=0).fillna(0).drop(
            columns=['demands_y', 'dropoffs_y']).rename(columns={
                'demands_x': 'demand',
                'dropoffs_x': 'dropoff'
            }).reset_index().drop(columns=['index'])

In [126]:
df_fixed.head()

            created_at  zone  demand  dropoff  day_of_week  is_weekend  hour
0  2018-08-21 00:00:00     0     3.0      4.0            1           0     0
1  2018-08-21 00:00:00     1     0.0     10.0            1           0     0
2  2018-08-21 00:00:00     2     1.0      1.0            1           0     0
3  2018-08-21 00:00:00     3    14.0      7.0            1           0     0
4  2018-08-21 00:00:00     4     1.0      7.0            1           0     0

In [122]:
df_fixed['day_of_week'] = pd.to_datetime(df_fixed['created_at']).dt.weekday

In [123]:
df_fixed['is_weekend'] = ((df_fixed['day_of_week'] == 5).values + (df_fixed['day_of_week'] == 6).values).astype(np.int32)

In [125]:
df_fixed['hour'] = pd.to_datetime(df_fixed['created_at']).dt.hour

In [127]:
df_fixed.to_csv('../data/full_dataset.csv', index=False)