In [4]:
import pandas as pd
from sklearn.cluster import DBSCAN, AgglomerativeClustering, KMeans
from sklearn.mixture import GaussianMixture

In [15]:
df = pd.read_csv('../data/filtered.csv')

In [16]:
df.head(2)

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb
0,000002b3a3014388a6c62fdda1d03de1n,2018-12-14 23:00:00.043,49.824671,24.013246,49.784729,24.060303,3900450045004500300042003700310037003800460031...,a429c637c1244bb7a1d606d2b9987bdd,7.97,0,0,0
1,000013de085e4be4a2cd27d9112f7bdbn,2018-10-13 23:59:00.580,49.837906,24.029772,49.841217,23.974363,6227785C7862375C7863623F5C7866652E285F2D5C7861...,NaN,5.62,1,0,0

In [17]:
X = np.append(df[['pickup_lat', 'pickup_lng']].values, df[['dropoff_lat', 'dropoff_lng']].values, axis=0)

In [18]:
X.shape

(2227230, 2)

In [26]:
km = KMeans(n_clusters=30, n_jobs=-1, n_init=10)

In [27]:
km.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=30, n_init=10, n_jobs=-1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [28]:
df['pickup_zone'] = km.predict(df[['pickup_lat', 'pickup_lng']])
df['dropoff_zone'] = km.predict(df[['dropoff_lat', 'dropoff_lng']])

In [29]:
df.to_csv('../data/filtered_clustered.csv', sep=',', index=False)