In [2]:
import pandas_profiling as pp
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier

In [3]:
from pandas import Timestamp

In [4]:
df = pd.read_csv('../data/filtered_clustered.csv')
df.head()

,ride_id,created_at,pickup_lat,pickup_lng,dropoff_lat,dropoff_lng,user_id,driver_id,ride_distance,canceled_by_client,canceled_by_driver,ride_to_suburb,pickup_zone,dropoff_zone
0,000002b3a3014388a6c62fdda1d03de1n,2018-12-14 23:00:00.043,49.824671,24.013246,49.784729,24.060303,3900450045004500300042003700310037003800460031...,a429c637c1244bb7a1d606d2b9987bdd,7.97,0,0,0,23,11
1,000013de085e4be4a2cd27d9112f7bdbn,2018-10-13 23:59:00.580,49.837906,24.029772,49.841217,23.974363,6227785C7862375C7863623F5C7866652E285F2D5C7861...,NaN,5.62,1,0,0,10,1
2,000040911549444d8ad461c69370e883n,2018-08-25 21:40:52.537,49.839718,23.994425,49.840610,24.029135,62277C6C5C7866386C572C795C7838315C7831645C7863...,7323767ede0349d1a7bfe743a091d63c,3.17,0,0,0,22,18
3,0000759fc38a410e8d8802610800ccacn,2018-12-08 13:43:41.357,49.829708,24.044172,49.869137,24.010246,62275C7864335C78393135635C6E5C7830355C7839645C...,NaN,5.87,1,0,0,27,19
4,0000e61e5282484d943291df7266ee33n,2019-01-18 09:18:44.377,49.837013,24.034357,49.832710,23.999216,3300360037004600420041003600300032003500410033...,2913413c2bf748d7932d1d587c8aef13,3.39,0,0,0,10,22

In [5]:
df['created_at'] = pd.to_datetime(df['created_at'], format= '%Y/%m/%d')

In [6]:
df.created_at[0].date().y

AttributeError: 'datetime.date' object has no attribute 'y'

In [30]:
datetimes = []

for tmst in df.created_at:
    datetimes.append(Timestamp(year=tmst.date().year, month=tmst.date().month,
                              day= tmst.date().day, hour=tmst.time().hour))

In [31]:
datetimes = np.array(datetimes)
print(datetimes)

[Timestamp('2018-12-14 23:00:00') Timestamp('2018-10-13 23:00:00')
 Timestamp('2018-08-25 21:00:00') ... Timestamp('2019-02-16 00:00:00')
 Timestamp('2018-11-23 17:00:00') Timestamp('2018-10-07 15:00:00')]

In [32]:
df.created_at = datetimes

In [1]:
df.head()

NameError: name 'df' is not defined

In [61]:
df_new = df.groupby(["created_at", "pickup_zone"]).count()
df_new = df_new.drop(df_new.columns.difference(['created_at','pickup_zone', "ride_id"]), 1)
print(df_new.head())

In [66]:
df_new.columns = ["demands"]

In [68]:
df_new.to_csv("../data/aggrageted_v0.csv")

In [99]:
df_dropoffs = df.groupby(["created_at", "dropoff_zone"]).count()
#df_dropoffs = df_dropoffs.drop(df_dropoffs.columns.difference(['created_at','dropoff_zone', "drop_off_num"]), 1)
df_dropoff.to_csv("../data/dropoffs_aggregated.csv")

In [92]:
df_dropoffs.head()

                                  ride_id
created_at          dropoff_zone
2018-08-21 00:00:00 0                   4
                    1                  10
                    2                   1
                    3                   7
                    4                   7
                    5                   6
                    6                   3
                    8                  14
                    9                   8
                    10                  4
                    11                 18
                    12                  3
                    13                  1
                    14                  5
                    15                  7
                    16                  3
                    17                 10
                    18                  8
                    19                  8
                    20                  7
                    21                  2
                    22                 12
                    23                 10
                    24                 14
                    25                  3
                    26                  2
                    27                  5
                    28                  3
                    29                  3
2018-08-21 01:00:00 0                   3
...                                   ...
2019-02-21 14:00:00 26                  1
                    27                 12
                    28                  2
                    29                  6
2019-02-21 15:00:00 0                   9
                    1                   3
                    2                   3
                    3                  16
                    4                   4
                    5                  10
                    6                  10
                    7                   2
                    8                   4
                    9                   5
                    10                 13
                    11                  4
                    14                 10
                    15                  7
                    16                  7
                    17                 10
                    18                 18
                    19                  5
                    20                  4
                    21                  6
                    22                 13
                    23                  8
                    24                  5
                    27                 20
                    28                  5
                    29                  7

[120058 rows x 1 columns]

In [90]:
result

                                              demands  ride_id
created_at          pickup_zone dropoff_zone
2018-08-21 00:00:00 0           0                   3        4
                                1                   3       10
                                2                   3        1
                                3                   3        7
                                4                   3        7
                                5                   3        6
                                6                   3        3
                                8                   3       14
                                9                   3        8
                                10                  3        4
                                11                  3       18
                                12                  3        3
                                13                  3        1
                                14                  3        5
                                15                  3        7
                                16                  3        3
                                17                  3       10
                                18                  3        8
                                19                  3        8
                                20                  3        7
                                21                  3        2
                                22                  3       12
                                23                  3       10
                                24                  3       14
                                25                  3        3
                                26                  3        2
                                27                  3        5
                                28                  3        3
                                29                  3        3
                    2           0                   1        4
...                                               ...      ...
2019-02-21 15:00:00 28          24                  5        5
                                27                  5       20
                                28                  5        5
                                29                  5        7
                    29          0                   8        9
                                1                   8        3
                                2                   8        3
                                3                   8       16
                                4                   8        4
                                5                   8       10
                                6                   8       10
                                7                   8        2
                                8                   8        4
                                9                   8        5
                                10                  8       13
                                11                  8        4
                                14                  8       10
                                15                  8        7
                                16                  8        7
                                17                  8       10
                                18                  8       18
                                19                  8        5
                                20                  8        4
                                21                  8        6
                                22                  8       13
                                23                  8        8
                                24                  8        5
                                27                  8       20
                                28                  8        5
                                29                  8        7

[3137165 rows x 2 columns]

In [208]:
zones = df.zone.unique()

In [209]:
zones.sort()
print(zones)

[ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17.
 18. 19. nan]

In [210]:
res_dict = {"timestamp":[], "zone":[], "demands":[]}

In [236]:
df.created_at[0].time().hour  == df.created_at[500].time().hour

False

In [239]:
df.created_at[0].date()

datetime.date(2018, 8, 21)

In [235]:
df.created_at[500]

Timestamp('2018-08-21 05:47:55.357000')

In [ ]:
for z in zones:
    i = 0
    counter = 0
    for tmst in df.created_at:
        if df.created_at[i].time().hour == tmst.time().hour and df.created_at[i].date() == tmst.date() and :
            counter += 1
            i+=1
        else:

In [ ]:
df.head()

In [ ]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
plotly.offline.init_notebook_mode()

data = [go.Scattergeo(
        mode = 'markers',
        lon = df['dropoff_lng'].values[:1000],
        lat = df['dropoff_lat'].values[:1000],
        marker = dict(
            color = 'red',
            opacity = .4,
            line = dict(width = 0)
        )
    ), 
       go.Scattergeo(
        mode = 'markers',
        lon = df['pickup_lng'].values[:1000],
        lat = df['pickup_lat'].values[:1000],
        marker = dict(
            color = 'blue',
            opacity = .4,
            line = dict(width = 0)
        )
    )]

layout = go.Layout(
    geo = dict(
        resolution = 110,
        scope = 'europe'
    )
)

fig = go.Figure(layout=layout, data=data)
plotly.offline.iplot(fig, validate=False, image_height=800, image_width=1200)

In [ ]:
test_df_z1 = pd.DataFrame({"date":["2018-12-14 23:00","2018-12-19 23:00", "2018-12-21 00:00","2019-01-01 00:00",
                                   "2019-01-18 09:00" , "2019-01-21 09:00", "2019-01-30 09:00", "2019-02-18 09:00"], 
                           "f1":[1, 2, 4,5,6, 7 ,8, 9], "y":[12, 63, 22, 23,51, 22, 43, 49] })

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd

plotly.offline.init_notebook_mode()

data = [go.Scatter(
          x=test_df_z1.date,
          y=test_df_z1.y)]

In [ ]:
plotly.offline.iplot(data)

In [ ]:
from pandas import DataFrame
from pandas import concat

In [ ]:
# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
	n_vars = 1 if type(data) is list else data.shape[1]
	df = DataFrame(data)
	cols, names = list(), list()
	# input sequence (t-n, ... t-1)
	for i in range(n_in, 0, -1):
		cols.append(df.shift(i))
		names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
	# forecast sequence (t, t+1, ... t+n)
	for i in range(0, n_out):
		cols.append(df.shift(-i))
		if i == 0:
			names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
		else:
			names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
	# put it all together
	agg = concat(cols, axis=1)
	agg.columns = names
	# drop rows with NaN values
	if dropnan:
		agg.dropna(inplace=True)
	return agg

In [ ]:
from math import sqrt
from numpy import concatenate
from matplotlib import pyplot
from pandas import read_csv
from pandas import DataFrame
from pandas import concat
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

In [ ]:
test_df_z1

In [ ]:
# specify the number of lag hours
n_hours = 3
n_features = 2
# frame as supervised learning
reframed = series_to_supervised(test_df_z1.drop(columns="date"), n_hours, 1)
print(reframed.shape)

In [ ]:
reframed

In [ ]:
# split into train and test sets
values = reframed.values
n_train_hours = 3 #7*24
train = values[:n_train_hours, :]
test = values[n_train_hours:, :]
# split into input and outputs
n_obs = n_hours * n_features
train_X, train_y = train[:, :n_obs], train[:, -n_features]
test_X, test_y = test[:, :n_obs], test[:, -n_features]
print(train_X.shape, len(train_X), train_y.shape)
# reshape input to be 3D [samples, timesteps, features]
train_X = train_X.reshape((train_X.shape[0], n_hours, n_features))
test_X = test_X.reshape((test_X.shape[0], n_hours, n_features))
print(train_X.shape, train_y.shape, test_X.shape, test_y.shape)

In [ ]:
# design network
model = Sequential()
model.add(LSTM(10, input_shape=(train_X.shape[1], train_X.shape[2])))
model.add(Dense(1))
model.compile(loss='mae', optimizer='adam')
# fit network
history = model.fit(train_X, train_y, epochs=50, batch_size=72, validation_data=(test_X, test_y), verbose=2, shuffle=False)
# plot history
pyplot.plot(history.history['loss'], label='train')
pyplot.plot(history.history['val_loss'], label='test')
pyplot.legend()
pyplot.show()

In [ ]:
test_X.shape

In [ ]:
train_X.shape

In [ ]:
# make a prediction
yhat = model.predict(test_X)
test_X = test_X.reshape((test_X.shape[0], n_hours*n_features))
# invert scaling for forecast
inv_yhat = concatenate((yhat, test_X[:, -7:]), axis=1)
#inv_yhat = scaler.inverse_transform(inv_yhat)
inv_yhat = inv_yhat[:,0]
# invert scaling for actual
test_y = test_y.reshape((len(test_y), 1))
inv_y = concatenate((test_y, test_X[:, -7:]), axis=1)
inv_y = scaler.inverse_transform(inv_y)
inv_y = inv_y[:,0]
# calculate RMSE
rmse = sqrt(mean_squared_error(inv_y, inv_yhat))
print('Test RMSE: %.3f' % rmse)